<ng-container *ngIf="show">
    <div class="preloader relative m-auto h-full w-full h-screen bg-gray-900" style="z-index: 9999;">
        <div class="spinner flex absolute inset-0 items-center justify-center m-auto">
            <div class="circle absolute border-4 border-solid border-transparent rounded-full w-10 h-10 border-t-sky-300 one"></div>
            <div class="circle absolute border-4 border-solid border-transparent rounded-full w-14 h-14 border-t-sky-400 two"></div>
            <div class="circle absolute border-4 border-solid border-transparent rounded-full w-20 h-20 border-t-sky-500 three"></div>
        </div>
    </div>    
</ng-container>