<ng-container *transloco="let t">
    <form class="mt-8" [formGroup]="productForm">
        <div class="grid grid-cols-1 sm:grid-cols-1 lg:grid-cols-2 gap-8 w-full">
            <!-- Title field -->
            <mat-form-field class="w-full">
                <mat-label>{{t('title')}}</mat-label>
                <input
                    id="title"
                    matInput
                    formControlName="title">
                <mat-error>
                    {{t('required')}}
                </mat-error>
            </mat-form-field> 
    
            <!-- Price field -->
            <mat-form-field class="w-full">
                <mat-label>{{t('price')}}</mat-label>
                <input
                    id="price"
                    type="number"
                    matInput
                    formControlName="price">
                <mat-error>
                    {{t('required')}}
                </mat-error>
            </mat-form-field>    
    
            <!-- Category field -->
            <mat-form-field class="w-full">
                <mat-label>{{t('category')}}</mat-label>
                <input
                    id="category"
                    matInput
                    formControlName="category">
                <mat-error>
                    {{t('required')}}
                </mat-error>
            </mat-form-field>
                    
            <!-- Description field -->
            <mat-form-field class="w-full">
                <mat-label>{{t('description')}}</mat-label>
                <input
                    id="description"
                    matInput
                    formControlName="description">
                <mat-error>
                    {{t('required')}}
                </mat-error>
            </mat-form-field> 
            
            <button
                class="w-full mt-6"
                mat-flat-button
                [color]="'primary'"
                [disabled]="productForm.disabled || productForm.invalid"
                (click)="!productId ? addProduct() : updateProduct()">
                <span *ngIf="!productId">{{t('add-product')}}</span>
                <span *ngIf="productId">{{t('edit-product')}}</span>
            </button>        
        </div>
    </form>
</ng-container>