<div class="relative">
    <div class="404 text-center mt-8">
        <div class="logo text-center mb-8">
            <img class="w-24 m-auto" src="assets/images/stc-logo.png" />
        </div>
    
        <div class="not-found-img">
            <img src="assets/images/not-found.svg" class="w-2/4 m-auto" />
        </div>
    
        <div class="not-found-content">
            <p class="mb-5">You didn't break the internet, but we can't find what you are looking for.</p>
            <button mat-raised-button [ngStyle]="{'backgroundColor': '#ff375e', 'color': 'white'}">
                <a routerLink="/sign-in">
                    Back Home
                </a>
            </button>
        </div>
    </div>
</div>